.fovouriteChild {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-palegoldenrod-100);
  width: 100.063rem;
  height: 75rem;
}
.wwwnickelfoxcom {
  position: absolute;
  top: 4.33%;
  left: 3.88%;
  font-family: var(--font-roboto);
}
.backgroundIcon,
.backgroundIcon1 {
  position: absolute;
  top: 1.25rem;
  left: -0.125rem;
  width: 100.188rem;
  height: 26.063rem;
}
.backgroundIcon1 {
  top: 51.131rem;
  left: -8.437rem;
  width: 108.313rem;
  height: 28.175rem;
}
.exploreNow,
.trendingOnInstagram {
  width: 12.206rem;
  position: relative;
  letter-spacing: -0.04em;
  line-height: 1.769rem;
  font-weight: 500;
  display: inline-block;
  height: 1.275rem;
  flex-shrink: 0;
}
.exploreNow {
  width: 5.169rem;
  font-size: var(--font-size-sm-6);
  color: var(--color-gray-500);
  height: 1.169rem;
}
.trendingOnInstagramParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.frameChild {
  width: 1.131rem;
  position: relative;
  max-height: 100%;
}
.frameGroup {
  position: absolute;
  top: 21.338rem;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 16.206rem;
}
.groupChild {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 11.32px;
  width: 29.506rem;
  height: 20.344rem;
  object-fit: cover;
}
.frameParent,
.groupItem {
  position: absolute;
  top: 0;
  left: 0;
  width: 29.544rem;
  height: 24.025rem;
}
.groupItem {
  border-radius: 11.32px;
  width: 29.65rem;
  height: 20.344rem;
  object-fit: cover;
}
.allUnder40,
.exploreNow1 {
  width: 7.075rem;
  position: relative;
  letter-spacing: -0.04em;
  line-height: 1.769rem;
  font-weight: 500;
  display: inline-block;
  height: 1.238rem;
  flex-shrink: 0;
}
.exploreNow1 {
  width: 5.063rem;
  font-size: var(--font-size-sm-6);
  color: var(--color-gray-500);
  height: 1.169rem;
}
.frameContainer {
  position: absolute;
  top: 21.338rem;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 21.337rem;
}
.rectangleParent {
  position: absolute;
  top: 0;
  left: 31.206rem;
  width: 29.65rem;
  height: 23.988rem;
}
.groupParent {
  position: absolute;
  top: 5.944rem;
  left: 0;
  width: 60.856rem;
  height: 24.025rem;
}
.groupInner {
  position: absolute;
  top: 1.131rem;
  left: 11.219rem;
  width: 6.725rem;
  height: 1.131rem;
}
.youngsFavourite2 {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: 0.06em;
  line-height: 1.769rem;
  font-weight: 900;
}
.vectorParent {
  position: absolute;
  top: 0;
  left: 0;
  width: 18.063rem;
  height: 2.263rem;
  font-size: var(--font-size-8xl-2);
}
.youngsFavourite1 {
  position: absolute;
  top: 3.781rem;
  left: 3.588rem;
  width: 60.856rem;
  height: 29.969rem;
}
.downloadApp {
  margin: 0;
}
.downloadAppContainer {
  position: relative;
  letter-spacing: 0.06em;
  line-height: 150%;
  font-weight: 900;
}
.get30OffContainer {
  width: 14.825rem;
  position: relative;
  font-size: var(--font-size-sm-6);
  letter-spacing: -0.04em;
  line-height: 1.238rem;
  font-weight: 500;
  color: var(--color-gray-600);
  display: inline-block;
  height: 2.156rem;
  flex-shrink: 0;
}
.downloadAppGetTheVoucherParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1.45rem;
}
.frameInner {
  width: 7.219rem;
  position: relative;
  border-radius: 5.66px;
  height: 2.513rem;
  object-fit: cover;
}
.frameDiv,
.rectangleGroup {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.675rem;
}
.frameDiv {
  position: absolute;
  top: 6.406rem;
  left: 0;
  flex-direction: column;
  gap: 2.3rem;
}
.vouchersChild,
.vouchersItem {
  background-color: var(--color-white);
  box-sizing: border-box;
}
.vouchersChild {
  position: absolute;
  top: 1.413rem;
  left: 29.931rem;
  border-radius: 50%;
  border: 1.4px solid var(--color-whitesmoke-200);
  width: 22.538rem;
  height: 22.256rem;
}
.vouchersItem {
  top: 3.181rem;
  left: 31.669rem;
  border: 1.2px solid var(--color-whitesmoke-200);
  width: 19rem;
  height: 18.763rem;
}
.ellipseDiv,
.vouchersInner,
.vouchersItem {
  position: absolute;
  border-radius: 50%;
}
.vouchersInner {
  top: 4.881rem;
  left: 33.15rem;
  background-color: var(--color-white);
  border: 1px solid var(--color-whitesmoke-200);
  box-sizing: border-box;
  width: 15.569rem;
  height: 15.375rem;
}
.ellipseDiv {
  top: 1.413rem;
  left: 49.925rem;
  background-color: var(--color-khaki);
  width: 1.769rem;
  height: 1.769rem;
}
.vouchersChild1,
.vouchersChild2,
.vouchersChild3,
.vouchersChild4 {
  position: absolute;
  top: 1.944rem;
  left: 29.931rem;
  border-radius: 50%;
  background-color: var(--color-whitesmoke-400);
  width: 0.781rem;
  height: 0.85rem;
}
.vouchersChild2,
.vouchersChild3,
.vouchersChild4 {
  background-color: var(--color-gray-400);
}
.vouchersChild3,
.vouchersChild4 {
  top: 23.669rem;
  left: 28.731rem;
  background-color: var(--color-khaki);
  width: 1.2rem;
  height: 1.2rem;
}
.vouchersChild4 {
  top: 20.875rem;
  left: 51.869rem;
  background-color: var(--color-gray-400);
  width: 0.6rem;
  height: 0.6rem;
}
.mobileAppChild,
.mobileAppItem {
  position: absolute;
  top: 1.394rem;
  border-radius: 50%;
  height: 1.3rem;
}
.mobileAppChild {
  left: 0.925rem;
  background-color: var(--color-white);
  width: 1.3rem;
}
.mobileAppItem {
  left: 9.281rem;
  width: 1.394rem;
  object-fit: contain;
}
.appsIcon {
  position: absolute;
  top: 1.669rem;
  left: 1.206rem;
  width: 0.744rem;
  height: 0.744rem;
  overflow: hidden;
}
.rectangleDiv {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 7.92px;
  background-color: var(--color-gainsboro-300);
  width: 9.744rem;
  height: 1.238rem;
}
.search,
.searchIcon {
  width: 0.744rem;
  position: relative;
  height: 0.744rem;
}
.search {
  width: 2.044rem;
  display: inline-block;
  height: 0.681rem;
  flex-shrink: 0;
}
.searchParent {
  position: absolute;
  top: 0.281rem;
  left: 0.4rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0.156rem;
}
.rectangleContainer {
  position: absolute;
  top: 5.106rem;
  left: 0.925rem;
  width: 9.744rem;
  height: 1.238rem;
  font-size: 0.494rem;
  color: var(--color-dimgray);
  font-family: var(--font-inter);
}
.mobileAppInner,
.trendingNow {
  position: absolute;
  left: 0.925rem;
  width: 4.206rem;
}
.mobileAppInner {
  top: 7.025rem;
  border-radius: 6.93px;
  background-color: var(--color-khaki);
  height: 0.988rem;
}
.trendingNow {
  top: 7.238rem;
  font-weight: 500;
  text-align: center;
  display: inline-block;
  height: 0.681rem;
}
.mobileAppChild1 {
  top: 7.025rem;
  left: 5.725rem;
  border-radius: 6.93px;
  background-color: var(--color-gainsboro-100);
  height: 0.988rem;
}
.all,
.mobileAppChild1,
.mobileAppChild2 {
  position: absolute;
  width: 2.194rem;
}
.all {
  top: 7.238rem;
  left: 5.725rem;
  font-weight: 500;
  color: var(--color-gray-300);
  text-align: center;
  display: inline-block;
  height: 0.681rem;
}
.mobileAppChild2 {
  top: 7.025rem;
  left: 8.475rem;
  border-radius: 6.93px;
  background-color: var(--color-gainsboro-100);
  height: 0.988rem;
}
.newTxt {
  line-break: anywhere;
  width: 100%;
}
.new {
  position: absolute;
  top: 7.075rem;
  left: 9.188rem;
  font-weight: 500;
  color: var(--color-gray-300);
  text-align: center;
  display: flex;
  align-items: flex-end;
  width: 0.838rem;
}
.charmingSlimBrunetteWomanPIcon,
.curlyWomanJumpingPurpleBacIcon,
.fullLengthViewGladWomanDaIcon,
.slenderGirlGreatMoodIsHavIcon {
  position: absolute;
  top: 8.913rem;
  left: 0.925rem;
  border-radius: var(--br-3xs-9);
  width: 4.55rem;
  height: 6.413rem;
  object-fit: cover;
}
.curlyWomanJumpingPurpleBacIcon,
.fullLengthViewGladWomanDaIcon,
.slenderGirlGreatMoodIsHavIcon {
  left: 6.188rem;
}
.curlyWomanJumpingPurpleBacIcon,
.fullLengthViewGladWomanDaIcon {
  top: 17.819rem;
  left: 0.925rem;
}
.curlyWomanJumpingPurpleBacIcon {
  left: 6.188rem;
  height: 6.406rem;
}
.polkadotRedDress,
.rs149900 {
  position: relative;
  display: inline-block;
  height: 0.681rem;
  flex-shrink: 0;
}
.polkadotRedDress {
  width: 4.394rem;
  font-weight: 500;
}
.rs149900 {
  width: 4.05rem;
  color: var(--color-gray-1000);
  white-space: pre-wrap;
}
.polkadotRedDressParent {
  position: absolute;
  top: 15.719rem;
  left: 0.925rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--font-size-6xs-9);
}
.stripedPinkDress {
  width: 4.55rem;
  position: relative;
  font-weight: 500;
  display: inline-block;
  height: 0.681rem;
  flex-shrink: 0;
}
.stripedPinkDressParent {
  position: absolute;
  top: 15.719rem;
  left: 6.125rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--font-size-6xs-9);
}
.mobileAppChild3 {
  position: absolute;
  top: 22.831rem;
  left: -0.312rem;
  background-color: var(--color-white);
  width: 11.913rem;
  height: 2.756rem;
}
.vectorIcon {
  width: 0.838rem;
  position: relative;
  height: 0.806rem;
}
.vectorIcon2 {
  position: absolute;
  height: 76.79%;
  width: 82.21%;
  top: 23.81%;
  right: 17.79%;
  bottom: -0.6%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.groupChild1 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-red);
  width: 0.463rem;
  height: 0.463rem;
}
.div,
.ellipseParent {
  position: absolute;
  top: 0;
  height: 0.494rem;
}
.div {
  left: 0.125rem;
  font-weight: 600;
  display: inline-block;
  width: 0.219rem;
}
.ellipseParent {
  left: 0.556rem;
  width: 0.463rem;
}
.vectorContainer {
  width: 1.019rem;
  position: relative;
  height: 1.05rem;
}
.vectorGroup {
  position: absolute;
  top: 23.231rem;
  left: 0.956rem;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 2.075rem;
  color: var(--color-white);
  font-family: var(--font-inter);
}
.matchYourStyle,
.mobileAppChild4 {
  position: absolute;
  top: 3.963rem;
  left: 5.475rem;
  width: 2.194rem;
  height: 0.45rem;
}
.matchYourStyle {
  top: 3.375rem;
  left: 0.925rem;
  font-size: 0.806rem;
  display: inline-block;
  font-family: var(--font-inter);
  width: 6.744rem;
  height: 1.238rem;
}
.mobileApp {
  position: absolute;
  top: 0;
  left: 35.45rem;
  box-shadow: 0 2.3px 35.66px rgba(0, 0, 0, 0.25);
  border-radius: 19.8px;
  background-color: var(--color-white);
  border: 12.8px solid var(--color-lightsteelblue);
  box-sizing: border-box;
  width: 13.2rem;
  height: 26.719rem;
  overflow: hidden;
  font-size: var(--font-size-7xs-9);
}
.vouchers,
.youngsFavourite {
  position: absolute;
  top: 41.531rem;
  left: 7.8rem;
  width: 52.469rem;
  height: 25.119rem;
  font-size: var(--font-size-8xl-2);
}
.youngsFavourite {
  top: 4.875rem;
  left: 22.375rem;
  background-color: var(--color-white);
  width: 68.063rem;
  height: 74.538rem;
  overflow: hidden;
  font-size: var(--font-size-lg-1);
}
.y {
  width: 7.25rem;
  position: relative;
  letter-spacing: 0.03em;
  line-height: 3.125rem;
  display: inline-block;
  height: 3.625rem;
  flex-shrink: 0;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.background {
  position: absolute;
  top: 14.063rem;
  left: 11.125rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-112xl);
  font-size: var(--font-size-111xl);
  color: var(--color-gold);
}
.fovourite {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 75rem;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-poppins);
}
